<% include partials/header.ejs %>
        <img src="/img/earth.jpg" alt="Earth" />
        <h1>Welcome to Earth!</h1>
        <p>Earth is the third planet from the Sun and the only astronomical object 
        known to harbor life. According to radiometric dating and other sources 
        of evidence, Earth formed over 4.5 billion years ago.Earth's 
        gravity interacts with other objects in space, especially the Sun and the Moon, 
        which is Earth's only natural satellite. Earth orbits around the Sun in 
        365.26 days, a period known as an Earth year. During this time, Earth 
        rotates about its axis about 366.26 times. (Wikipedia)</p>
<% include partials/nav.ejs %>
<% include partials/footer %>