        tr, td{
            border:1px gray solid;
            text-align: right;
            padding:5px;
        }
        body, th {
            text-align: center;
        }
        table {
            margin: 0 auto;
        }
        .dislikes {
          transform: rotate(180deg);
        }