<p>Click on a planet to know more about it:</p>
<nav>
    <a href="/mercury"> Mercury </a> <br>
    <a href="/venus">   Venus   </a> <br>
    <a href="/earth"> Earth </a> <br>
    <a href="/mars"> Mars </a> <br>
</nav>